#splash {
  height: 100vh;
  width: 100vw;
  background-color: #131315;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid var(--secondary) 4px;
}
#splash-image {
  position: absolute;
  height: 100vh;
  right: 0;
  top: 0;
}
.letter:hover {
  color: var(--secondary);
}
.splash-text {
  font-size: 40px;
  color: #eee;
  font-weight: 500;
  text-align: right;
  line-height: 70px;
  margin-right: 200px;
  cursor: unset;
  padding: 10px;
  letter-spacing: 0.5px;
  animation: enterFromLeft 1.5s forwards;
  background-color: #131315;
}
.splash-buttons {
  margin-top: 50px;
}
@keyframes enterFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 800px) {
  .splash-text {
    font-size: 24px;
    line-height: 40px;
    margin-right: unset;
    text-align: center;
  }
}
